In [2]:
#Import Libraries
from pyforest import *
from pandas_profiling import ProfileReport
import seaborn as sn
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
import matplotlib.pyplot as plt
import matplotlib.image as pltimg
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder

In [3]:
#import data
data = pd.read_csv('housing.csv')

In [5]:
#Exploratory Data Analysis & Data Visualization via Pandas Profiling
#Contains correlation matrices/heatmaps
#Can see distribution of each variable
#Output to a html file
data.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [6]:
#uncomment to see the visuals
#prof = ProfileReport(data)
#prof.to_file(output_file='data.html')

Summarize dataset:   0%|          | 0/23 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [ ]:
#In the context of dataset, our output should be median_house_value

In [5]:
#Pick an ML Algorithm
#In my case, I will use a decision tree to represent the prediction

In [7]:
y = data['median_house_value']

In [8]:
data.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [33]:
lb = LabelEncoder()

In [49]:
data['ocean_proximity']=lb.fit_transform(data['ocean_proximity'])
data['ocean_proximity']=data['ocean_proximity'].fillna('0')
data['ocean_proximity']=data['ocean_proximity'].astype('category')

In [70]:
data['total_bedrooms']=data['total_bedrooms'].fillna(data['total_bedrooms'].mean())

In [71]:
features =['housing_median_age','total_rooms','total_bedrooms','ocean_proximity']

In [72]:
X=data[features]

In [73]:
X.dtypes

housing_median_age     float64
total_rooms            float64
total_bedrooms         float64
ocean_proximity       category
dtype: object

In [74]:
X.isnull().sum(axis = 0)

housing_median_age    0
total_rooms           0
total_bedrooms        0
ocean_proximity       0
dtype: int64

In [75]:
X

       housing_median_age  total_rooms  total_bedrooms ocean_proximity
0                    41.0        880.0           129.0               3
1                    21.0       7099.0          1106.0               3
2                    52.0       1467.0           190.0               3
3                    52.0       1274.0           235.0               3
4                    52.0       1627.0           280.0               3
...                   ...          ...             ...             ...
20635                25.0       1665.0           374.0               1
20636                18.0        697.0           150.0               1
20637                17.0       2254.0           485.0               1
20638                18.0       1860.0           409.0               1
20639                16.0       2785.0           616.0               1

[20640 rows x 4 columns]

In [76]:
y.shape

(20640,)

In [77]:
X.shape

(20640, 4)

In [78]:
#Train
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3,random_state=0)

In [83]:
reg = DecisionTreeRegressor(max_depth=7,random_state=0)
reg.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=7, random_state=0)

In [84]:
reg.predict(X_train)

array([119101.62822252, 202772.45726496, 244453.24675325, ...,
       211540.09386282, 205727.70440252,  94586.5497076 ])

In [85]:
predicted_prices = reg.predict(X)

In [86]:
mean_absolute_error(y, predicted_prices)

64671.90384029117

In [87]:
#Evaluate
#Now we need to see if this prediction model is worth keeping in terms of accuracy
reg.score(X_test,y_test)

0.3930881892553917

In [8]:
#Tune, this is up to you, I would pick better indicators or Random Forest model next

In [ ]:
#This is a simple start of machine learning for thos who want to jump into model building 
#How to understand how simple data analytics can help build into a machine learning model